html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
}

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block;
}

body {
  line-height: 1;
  font-family: 'Akrobat-Bold';
  scroll-behavior: smooth;
  overflow-x: hidden;
}

ul {
  list-style: none;
}

blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none;
}

input {
  outline: 0 !important;
}

html, body {
  scroll-behavior: smooth;
  overflow-x: hidden;
}

*:focus {
  outline: 0;
}

button {
  -webkit-box-shadow: 0;
          box-shadow: 0;
  outline: 0;
}

section {
  margin: 30px 0;
}

h2 {
  font-size: 29px;
  font-family: "Montserrat Medium";
}

p {
  font-size: 17px;
  font-family: "Montserrat Thin";
  color: #000;
}

.jumbotron {
  border-radius: 0 !important;
}

.slick-list {
  height: 230px;
}

.modal-2 {
  background-color: rgba(0, 0, 0, 0.705);
}

.owl-buttons {
  display: none;
}

.owl-carousel:hover .owl-buttons {
  display: block;
}

.owl-item {
  text-align: center;
}

.owl-theme .owl-controls .owl-buttons div {
  background: transparent;
  color: #869791;
  font-size: 40px;
  line-height: 300px;
  margin: 0;
  padding: 0 60px;
  position: absolute;
  top: 0;
}

.owl-theme .owl-controls .owl-buttons .owl-prev {
  left: 0;
  padding-left: 20px;
}

.owl-theme .owl-controls .owl-buttons .owl-next {
  right: 0;
  padding-right: 20px;
}

div.slider-arrow {
  position: absolute;
  top: 50%;
  height: 36px;
  margin-top: -18px;
  color: #fff;
  font-size: 30px;
  cursor: pointer;
  z-index: 10;
}

div.slider-prev {
  left: 0;
}

div.slider-next {
  right: 0;
}

.modal-dialog {
  margin: auto !important;
}

nav {
  padding: 1.5rem 0 !important;
}

nav .navbar-toggler {
  outline: 0 !important;
}

nav .navbar-brand img {
  width: 50px;
}

nav .nav-item a {
  font-size: 17px;
  font-family: "Montserrat Regular";
  color: rgba(0, 0, 0, 0.5);
}

.about-image {
  background: url("images/Hero-image.png");
  height: 40px;
  height: 75vh;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  width: 100%;
  margin-bottom: 50px;
}

.badrabbitStudio-partners {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-pack: distribute;
      justify-content: space-around;
}

.badrabbitStudio-partners a {
  width: 100px;
  margin: 20px 15px;
}

.badrabbitStudio-partners a img {
  width: 100%;
  -o-object-fit: contain;
     object-fit: contain;
}

footer a {
  color: #000;
  font-size: 14px;
  margin: 0 4px;
  font-family: "Montserrat Regular";
}

footer a:hover {
  -webkit-transition: all 0.4s ease;
  transition: all 0.4s ease;
  color: #ffd900;
  text-decoration: none;
}

footer p {
  font-size: 12px;
}

footer p a {
  font-size: 12px;
  font-family: "Montserrat Thin";
  margin: 0;
}

.get-in-touch div {
  padding: 20px;
}

.get-in-touch div .rounded-circle {
  margin: 15px 0;
  width: 80%;
}

.get-in-touch div .team-name {
  font-family: "Montserrat Medium";
}

.get-in-touch div p {
  font-size: 15px;
}

.get-in-touch div a:first-of-type {
  font-family: "Montserrat Medium";
}

.get-in-touch div a:first-of-type:hover {
  -webkit-transition: all 0.4s ease;
  transition: all 0.4s ease;
  color: #ffd900;
}

.get-in-touch div a {
  font-size: 16px;
  color: #000;
  margin: 8px 0;
  font-family: "Montserrat Thin";
}

.get-in-touch div a:hover {
  text-decoration: none;
}

.motion {
  position: relative;
  width: 100%;
  height: auto;
  overflow: hidden;
}

.motion video {
  height: auto;
  width: 100%;
}

.motion .overlay {
  width: 100%;
  height: 97.5%;
  position: absolute;
  top: 0;
  left: 0;
  z-index: 2;
  background: #000;
  opacity: 0.5;
}

.motion h1 {
  text-align: center;
  color: #fff;
  position: absolute;
  z-index: 3;
  width: 100%;
  font-family: "Montserrat Thin";
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
}

.inner-motion .row div {
  position: relative;
}

.inner-motion .row div .embed-container {
  position: relative;
  padding-bottom: 56.25%;
  height: 0;
  overflow: hidden;
  max-width: 100%;
  background-color: #000;
}

.inner-motion .row div .embed-container iframe, .inner-motion .row div .embed-container object, .inner-motion .row div .embed-container embed {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

.inner-motion .row div img {
  position: absolute;
  top: 0;
  bottom: 0;
  width: 100%;
  height: 100%;
  left: 0;
  right: 0;
  -o-object-fit: cover;
     object-fit: cover;
}

.inner-motion .row div p {
  position: absolute;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  opacity: 2;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  color: #fff;
  font-family: "Montserrat Thin";
  font-size: 18px;
  background: #00000080;
  text-align: center;
}

.inner-motion .row div:hover .embed-container {
  opacity: 1;
  z-index: 99999;
}

.inner-motion .row div:hover img {
  opacity: 0;
  z-index: 1;
}

.inner-motion .row div:hover p {
  opacity: 0;
  z-index: 1;
}

.stills {
  position: relative;
  width: 100%;
  height: 80vh;
  overflow: hidden;
}

.stills img {
  height: 100%;
  width: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}

.stills .overlay {
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  z-index: 2;
  background: #000;
  opacity: 0.6;
}

.stills h1 {
  text-align: center;
  color: #fff;
  position: absolute;
  z-index: 3;
  width: 100%;
  font-family: "Montserrat Thin";
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
}

.stills-inner .row {
  padding: 0 15px;
}

.stills-inner .row a {
  overflow: hidden;
}

.stills-inner .row a:hover {
  text-decoration: none;
}

.stills-inner .row div {
  padding: 0;
}

.stills-inner .row div .card {
  overflow: hidden;
  border: none;
  border-radius: 0;
  padding: 1px;
}

.stills-inner .row div img {
  -o-object-fit: cover;
     object-fit: cover;
  width: 100%;
  height: 100%;
}

.stills-inner .row div h2 {
  position: absolute;
  color: #dd9933;
  font-size: 25px;
  opacity: 1;
  background: rgba(0, 0, 0, 0.575);
  width: 100%;
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  text-align: center;
}

.modal-dialog {
  width: 90% !important;
}

.modal-dialog .close-modal {
  color: black;
  font-family: "Montserrat Thin";
  padding: 30px;
  font-size: 18px;
}

.modal-dialog .modal-body {
  padding: 0 1rem !important;
}

.modal-dialog .modal-body tr {
  height: 30px;
}

.modal-dialog .modal-body tr td {
  color: #120512;
  font-family: "Montserrat Thin";
  margin: 6px 0;
}

.modal-dialog .modal-header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin-bottom: 20px;
  padding: 10px 1rem !important;
  font-family: "Montserrat Regular";
}

.modal-dialog .modal-header h3 {
  font-size: 16px;
  color: #000;
}

.modal-dialog p {
  color: #000;
  font-family: "Montserrat Thin";
}

.modal-dialog .modal-flex img {
  margin-bottom: 20px;
}

@-webkit-keyframes moveInLeft {
  0% {
    opacity: 0;
    -webkit-transform: translateX(-100px);
            transform: translateX(-100px);
  }
  100% {
    opacity: 1;
    -webkit-transform: translate(0);
            transform: translate(0);
  }
}

@keyframes moveInLeft {
  0% {
    opacity: 0;
    -webkit-transform: translateX(-100px);
            transform: translateX(-100px);
  }
  100% {
    opacity: 1;
    -webkit-transform: translate(0);
            transform: translate(0);
  }
}

@media (min-width: 768px) {
  .motion .overlay {
    height: 98.5%;
  }
}

@media (min-width: 992px) {
  section {
    margin: 60px 0;
  }
  h1 {
    font-size: 4.5rem !important;
  }
  nav .navbar-brand img {
    width: 80px;
  }
  nav .nav-item a {
    font-size: 20px;
  }
  .badrabbitStudio-partners a {
    width: 120px;
    margin: 20px 35px;
  }
  .motion .overlay {
    height: 99%;
  }
  footer a {
    font-size: 20px;
  }
  .stills-inner .overlay {
    display: none;
  }
  .stills-inner a:hover .overlay {
    position: absolute;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.575);
  }
  .stills-inner h2 {
    background: none !important;
  }
  .stills-inner h2::after {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    width: 200px;
    height: 2px;
    background: #fff;
    content: '';
    margin: 15px AUTO;
    -webkit-animation: moveInLeft .4s ease-out;
            animation: moveInLeft .4s ease-out;
  }
  .modal-dialog .modal-flex {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    width: 100%;
    -ms-flex-wrap: wrap !important;
        flex-wrap: wrap !important;
  }
  .modal-dialog .modal-flex a:first-of-type {
    display: none;
  }
  .modal-dialog .modal-flex a {
    width: 33.1%;
    padding: 1.5px;
    margin: 0 auto;
    cursor: pointer;
  }
  .modal-dialog .modal-flex a img {
    width: 100%;
  }
  .inner-motion .row div p {
    font-size: 29px;
  }
  div.slider-prev {
    left: -80px;
  }
  div.slider-next {
    right: -80px;
  }
  .slick-list {
    height: 530px;
  }
}
/*# sourceMappingURL=style.css.map */